<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head');%>

    <body class="container">
        <%- include('../partials/header',{pagina:'Principal'});%>
            <main>
                <div class="banner-index">
                    <h1>ProdutoTop</h1>
                    <p>Quando se faz com paixão, tudo fica mais bonito.</p>
                </div>
                <div class="box-products">
                    <ul class="list-products">
                        <% products.forEach(function(product){ %>
                            <li class="card-product">
                                <div class="linked-area-product-catalog">
                                    <a href="/product?productid=<%=product.id %>" class="font-sans-big">
                                        <div class="div-product-imagem-catalog">

                                            <img class="product-imagem-catalog" alt="imagem" src=<%=product.imagem %>>

                                        </div>
                                        <div class=info-product-catalog>
                                            <div class="product-nome-catalog">
                                                <%= product.title %>
                                            </div>

                                            <div class="product-preco-catalog preco-catalog">
                                                <% if (product.precoDe <=product.precoPor) {%>
                                                    <%=product.precoPor%>
                                                        <%} else {%>
                                                            De: <span class="precoDe">
                                                                <%=product.precoDe%>
                                                            </span>
                                                            &nbspPor:
                                                            <%=product.precoPor %>
                                                                <%}%>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <form class="form-product-button-catalog" method="get" target="_blank"
                                    action=<%=product.whats %>
                                    >
                                    <button class="product-button-catalog font-sans-big" type="submit">
                                        Pedir pelo whatsapp
                                    </button>
                                </form>
                            </li>
                            <% }) %>
                    </ul>
                </div>
            </main>
            <%- include('../partials/footer');%>
    </body>

</html>