<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head');%>

    <body class="container">
        <%- include('../partials/header',{pagina:'Produto'});%>
            <main class="main-products">
                <div class="macro-product">
                    <div class="product-part">
                        <img alt="imagem" src=<%=product.imagemBig %>>
                    </div>
                    <div class="product-detail">
                        <p class="font-sans-big-bl product-name">
                            <%= product.title %>
                        </p>
                        <p class="product-price font-sans-medium-bl">
                            <% if (product.precoDe <=product.precoPor) {%>
                                <%=product.precoPor%>
                                    <%} else {%>
                                        De: <span class="precoDe">
                                            <%=product.precoDe%>
                                        </span>
                                        &nbspPor:
                                        <%=product.precoPor %>
                                            <%}%>
                        </p>
                        <div class="product-description">
                            <p class="font-sans-medium-bl">
                                <%= product.message %>
                            </p>
                        </div>
                        <form class="form-product-button" method="get" target="_blank" action=<%=product.whats %>>
                            <button class="product-button font-sans-medium-bl" type=" submit">
                                Pedir pelo whatsapp
                            </button>
                        </form>
                    </div>

                </div>
            </main>
            <%- include('../partials/footer');%>
    </body>

</html>